
<ul class="list-group list-group-flush">
    @foreach(var user in Users)
    {
        <li class="list-group-item">@user</li>
    }
</ul>

@code {
    [Parameter]
    public IEnumerable<string> Users { get; set; } = Enumerable.Empty<string>();
}
