@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

<CascadingValue Value="AuthenticationState" Name="AuthenticationState">
    <div class="container-fluid">
        @Body
    </div>
</CascadingValue>

@code{
    public AuthenticationState AuthenticationState { get; set; } = new();

    private const string AuthStoreKey = "authkey";

    protected override async Task OnInitializedAsync()
    {
        var authStateJson = await JSRuntime.InvokeAsync<string>("getFromStorage", AuthStoreKey);
        if (!string.IsNullOrWhiteSpace(authStateJson))
        {
            var authState = JsonSerializer.Deserialize<AuthResponseDTO>(authStateJson);
            AuthenticationState.LoadState(authState);
        }
    }
}
