@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
@inject NavigationManager NavManager

<CascadingValue Value="AuthenticationState" Name="AuthenticationState">
    <div class="container-fluid">
        @Body
    </div>
</CascadingValue>

@code{
    public AuthenticationState AuthenticationState { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        var authStateJson = await JSRuntime.InvokeAsync<string>("window.getFromStorage", AuthenticationState.AuthStoreKey);
        if (!string.IsNullOrWhiteSpace(authStateJson))
        {
            var authState = JsonConverter.Deserialize<AuthResponseDTO>(authStateJson);
            AuthenticationState.LoadState(authState);
            if (AuthenticationState.IsAuthenticatied)
            {
                NavManager.NavigateTo("/chat"); 
            }
        }
    }
}
