@page "/register"
@inject HttpClient HttpClient
@inject NavigationManager NavManager

<PageTitle>Регистрация - Blaze Chat</PageTitle>


<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <EditForm Model="RegisterModel" OnInvalidSubmit="RegisterAsync">
                <div class="card text-center">
                  <div class="card-header">
                        <h2>Blaze Chat - Регистрация</h2>
                  </div>
                  <div class="card-body">
                        <DataAnnotationsValidator />
                        @if (!string.IsNullOrWhiteSpace(errorMessage))
                        {
                                <p class="text-danger">@errorMessage</p>
                        }
                        <div class="mb-3">
                            <label class="form-label">Имя</label>
                            <InputText @bind-Value="RegisterModel.Name" DisplayName="Имя" class="form-control" placeholder="Введите ваше имя"/>
                            <ValidationMessage For="() => RegisterModel.Name" />
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Имя пользователя</label>
                            <InputText @bind-Value="RegisterModel.Username" DisplayName="Имя пользователя" class="form-control" placeholder="Введите имя пользователя"/>
                            <ValidationMessage For="() => RegisterModel.Username" />
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Пароль</label>
                            <InputText type="password" @bind-Value="RegisterModel.Password" DisplayName="Пароль" class="form-control" placeholder="Введите пароль"/>
                            <ValidationMessage For="() => RegisterModel.Password" />
                        </div>
                  </div>
                  <div class="card-footer">
                      <div class="mb-3">
                            @if (_isBusy)
                            {
                                    <button class="btn btn-success" type="button" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                        Загрузка...
                                    </button>
                            }
                            else
                            {
                                    <button type="submit" class="btn btn-success float-start">Регистрация</button>
                            }
                            <NavLink href="/" Match="NavLinkMatch.All" class="btn btn-outline-primary float-end">Вход</NavLink>
                            <div class="clearfix"></div>
                        </div>
                  </div>
                </div>
            </EditForm>
        </div>
        <div class="col-2"></div>
    </div>
</div>


@code {
    [CascadingParameter(Name = "AuthenticationState")]
    public AuthenticationState AuthenticationState { get; set; }

    private RegisterDTO RegisterModel { get; set; } = new();
    private bool _isBusy = false;
    private string? errorMessage = null;
    private async Task RegisterAsync()
    {
        try
        {
            _isBusy = true;
            var response = await HttpClient.PostAsJsonAsync<RegisterDTO>("api/account/login", RegisterModel);
            if (response.IsSuccessStatusCode)
            {
                var content = await response.Content.ReadAsStringAsync();
                var authResult = JsonSerializer.Deserialize<AuthResponseDTO>(content, new JsonSerializerOptions
                    {
                        PropertyNamingPolicy = JsonNamingPolicy.CamelCase
                    });
                AuthenticationState.LoadState(authResult);
                NavManager.NavigateTo("/chat");
            }
            else
            {
                string errorContent = null;
                try
                {
                    errorContent = await response.Content.ReadAsStringAsync();
                }
                catch
                {
                }
                if (string.IsNullOrWhiteSpace(errorContent))
                {
                    errorContent = $"Error {response.StatusCode} - ${response.ReasonPhrase}";
                }
                _isBusy = false;
                errorMessage = errorContent;
            }
        }
        catch (Exception e)
        {
            errorMessage = e.Message;
            _isBusy = false;
        }
    }
}